
<!DOCTYPE html>
<html class="no-js partial loading" data-partial="layouts/default" lang="{{default.language}}">
<head>
  {{#if options.watch.status}}
  <script type="text/javascript">
      if('WebSocket' in window || 'MozWebSocket' in window) {
        var host = (location.host || 'localhost').split(':')[0];
        document.write('<script src="//' + host + ':{{options.watch.config.port}}/livereload.js?snipver=1"></' + 'script>');
      }
  </script>
  {{/if}}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="{{{globals.head.meta.viewport}}}">

  <meta name="apple-mobile-web-app-capable" content="{{{globals.head.meta.webAppCapable}}}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="{{{globals.head.meta.statusBarStyle}}}">
  <meta name="format-detection" content="{{{globals.head.meta.formatDetection}}}">

  <meta name="author" content="{{globals.head.meta.author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  {{#if open-graph}}
    {{{mixin "common/head/open-graph" open-graph}}}
  {{/if}}

  <title>{{title}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{relativeToRoot}}{{{globals.head.meta.favicon}}}">


  <style type="text/css">
      {{{raw options.scripts.css.critical}}}
  </style>

  {{#if globals.fonts}}
    {{{mixin "common/head/fonts" fonts=globals.fonts}}}
  {{/if}}

  <link rel="preload" href="{{relativeToRoot}}{{options.scripts.css.main}}" as="style" onload="this.rel='stylesheet';" media="screen">
  <noscript><link rel="stylesheet" href="{{relativeToRoot}}{{options.scripts.css.main}}"></noscript>
  <script type="text/javascript">
      {{#each options.scripts.js.embed}}
          {{raw this}}
      {{/each}}
  </script>
</head>
<body>

  {% body %}

  {{#if options.server.webpack}}
    {{{mixin "common/breakpoint"}}}
  {{/if}}

  <script type="text/javascript" src="{{{relativeToRoot}}}{{options.scripts.js.main}}" async defer></script>
</body>
</html>
